[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
build/

.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs



.idea/
*_Resharper*/
*.DotSettings.user

appsettings.Development.json
appsettings.Local.json
*.local.json

*.nupkg
*.snupkg
**/packages/
project.lock.json
project.assets.json

**/publish/

TestResults/
*.coverage
*.coveragexml

*.db
*.sqlite
*.sqlite3